#header {
	width: 100%;
	height: 120px;
	background-color: black;
}

#suggestVideo {
	width: 100%;
	height: 180px;
	background-color: white;
}

#body {
	width: 100%;
	height: 1000px;
	background-color: gray;
	display: inline-block;
}

#content {
	width: 80%;
	height: 1000px;
	background-color: red;
	float: left;
}

#bannerLeft {
	width: 10%;
	height: 1000px;
	background-color: green;
	float: left;
}

#bannerRight {
	width: 10%;
	height: 1000px;
	background-color: green;
	float: left;
}

#footer {
	width: 100%;
	height: 120px;
	background-color: black;
}

#menu {
	background-color: blue;
}